.register {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 1000px;

        form {
            margin: 50px 0px;
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 100px;

            .left {
                display: flex;
                flex-flow: column;
                gap: 10px;

                .formGroup {
                    display: flex;
                    flex-flow: column;
                    width: 100%;

                    input {
                        padding: 10px;
                    }

                }

                button {
                    color: var(--carmine);
                    padding: 10px;
                }
            }

            .right {
                display: flex;
                flex-flow: column;
                gap: 10px;

                .formGroup {
                    display: flex;
                    flex-flow: column;
                    width: 100%;

                    input,
                    textarea {
                        padding: 10px;
                    }
                }


                /* Change Textbox to Toggle Switch */
                .toggle {
                    display: flex;
                    align-items: flex-start;
                    gap: 10px;

                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 50px;
                        height: 24px;
                    }

                    /* Hide default HTML checkbox */
                    .switch input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;
                        border-radius: 24px;
                    }

                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 16px;
                        width: 16px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;
                        border-radius: 50%;
                    }

                    input:checked + .slider {
                        background-color: #2196f3;
                    }

                    input:focus + .slider {
                        box-shadow: 0 0 1px #2196f3;
                    }

                    input:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                    }
                }
            }
        }
    }
}
