.login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;

    .container {
        display: flex;
        flex-flow: column;
        padding: 50px;
        width: 400px;
        border-radius: 5px;
        background: var(--carmine);
        margin: 50px 0px;

        h1 {
            // font-family: "Montserrat", sans-serif;
            text-align: center;
            margin: 0 0 25px 0;
        }


        form {
            display: flex;
            flex-flow: column;
            // font-family: 'Quinque Five', monospace;

            button {
                font-size: 0.75rem;
                padding: 10px;
                // font-family: 'Quinque Five', monospace;
            }

            .formGroup {
                display: flex;
                flex-flow: column;
                margin: 10px 0;

                label {
                    font-size: 0.75rem;
                    margin: 5px 0;
                }

                input {
                    // font-family: 'Quinque Five', monospace;
                    font-size: 0.75rem;
                    border-radius: 5px;
                    padding: 10px 5px;
                }

            }

            .error {
                text-align: center;
                margin-top: 25px;
            }
        }
    }
}
