.home {

    .features {
        background: #212121;
        display: flex;
        justify-content: center;
        padding: 100px 0px;
        color: black;
        gap: 50px;

        &.dark {
            color: black;
            background: var(--ghostpink);
        }

        .container {
            width: 1400px;
            display: flex;
            align-items: center;
            gap: 100px;

            .left {
                display: flex;
                flex-flow: column;
                gap: 15px;
                flex: 2;

                h2 {
                    color: white;
                    font-family: "Montserrat", sans-serif;
                    font-weight: bold;
                    margin-bottom: 10px;
                    font-size: 3rem;
                }
                p {
                    font-size: 18px;
                    font-weight: 300;
                    color: #e5e4e2;
                }

                &.heading{
                    color: white;
                }

                .dark-heading {
                    color: var(--black);
                }

                .dark-subheading {
                    color: var(--black);
                    font-weight: normal;
                }

                .dark-text {
                    color: var(--black);
                    font-style: italic;
                }

                .titles {
                    display: flex;
                    flex-flow: column;
                    gap: 15px;

                    .light-title {
                        color: var(--ghostpink);
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-weight: bold;
                        font-size: 1rem;
                        font-family: "Quinque Five", monospace;

                        .checkMark {
                            font-size: 0.75rem;
                            background: var(--ghostpink);
                            border-radius: 5px;
                            padding: 5px;
                        }
                    }

                    .dark-title {
                        color: var(--black);
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-weight: bold;
                        font-size: 1.25rem;
                        font-family: var(--display);

                        .checkMark {
                            font-size: 0.75rem;
                            background: var(--black);
                            border-radius: 5px;
                            padding: 5px;
                        }
                    }
                }

                button {
                    background-color: transparent;
                    color: var(--black);
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: 2px solid black;
                    margin: 20px 0;

                    font-size: 16px;
                    font-weight: bold;
                    font-family: var(--display);
                    text-transform: uppercase;

                    transition-duration: 300ms;

                    &:hover {
                        background: var(--black);
                        color: var(--ghostpink);
                        transition-duration: 300ms;
                    }
                }
            }

            .right {
                flex: 1;

                img {
                    width: 100%;
                    border-radius: 5px;
                }
            }

            .features-image {
                border-radius: 5px;
            }
        }
    }
}

// .projectSlides {
//     display: flex;
//     flex-flow: column;
//     gap: 10px;
// }
