footer {
    display: flex;
    justify-content: center;
    color: #999;
    margin: 50px 0px;

    .container {
        width: 1400px;

        .top {
            display: flex;
            justify-content: space-between;

            .item {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h3 {
                    font-size: 16px;
                    color: #999;
                }

                .link {
                    font-weight: 300;
                    color: #666;

                    &:hover {
                        color: #999;
                    }
                }

                

            }
        }

        hr {
            margin: 50px 0px;
            height: 0;
            border: 1px solid #444;
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                display: flex;
                align-items: center;
                gap: 25px;

                h3 {
                    font-size: 2rem;
                }

                span {
                    color: var(--ghostpink);
                }
            }
            .right {
                display: flex;
                gap: 15px;

                .social {
                    display: flex;
                    gap: 15px;
                }
                .misc {
                    display: flex;
                    gap: 15px;

                    .link {
                        display: flex;
                        gap: 5px;
                        align-items: center;
                    }
                }

                .link:hover {
                    color: var(--ghostpink);
                }
            }
        }
    }
}
